/* Style Sheet for our project */

h1{
    color: black;
    padding-top: 1%;
}
p{
    padding-top: 1%;
}
h2{
    color: black;
    padding-top: 1%;
}
.story-text
{
    color:black
}
body {
    background-image: url("https://images4.alphacoders.com/574/thumb-1920-574726.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .flex-container{
    display: flex;
    height: 80%;
  
}
.start-button
{
    display: flex;
    justify-content: center;
}
.play-again
{
    display: flex;
    justify-content: center;
}
.flex-item{
    width: 60%;
    padding: 10%;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    color: white;
    text-align: center;
    border-radius: 25px;
    border-style: ridge;
}
.translucent-panel{
    height: 80%;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.674);
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
/* #translucent-box{
    
    justify-content: center;
} */
.flex-button-area {
    display: flex;
    justify-content: space-around;
}
#container1{
    justify-content: space-around;
}

.button-style {
    text-align: center;
    border: 10px;
    border-color: black;
    border-radius: 2vw;
    padding: 2vw;
    max-width: max-content;
    background-color: rgba(254, 254, 254, 0.806);
    padding-bottom: 5%;
    padding-top: 5%;
}
/* #containerbtn{
    justify-content: space-between;
} */

#start-screen {
    background-image: url(/assets/temple.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebackone {
    background-image: url(/assets/junglebackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebacktwo {
    background-image: url(/assets/durant.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebackthree {
    background-image: url(/assets/kleavor.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebackfour {
    background-image: url(/assets/river.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebackfive {
    background-image: url(/assets/kleavor2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebacksix {
    background-image: url(/assets/junglenight.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebackseven {
    background-image: url(/assets/feraligatr.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebackeight {
    background-image: url(/assets/zarude.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#pagebacknine {
    background-image: url(/assets/mewtemple.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#myheader{
    color: white;
    background-color: black;
    border-radius: 10px;
}